.signup-main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.signup-main::before,
.signup_s-main::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-image: url("../../assets/images/zen-stones-balanced-beach-with-copy-space-sunrise-light-meditation-relaxation-ai-generative.jpg");
    background-size: cover;
    z-index: -1;
    opacity: 0.2;
}

.signup-main h2{
    padding: 1rem;
}

.signup-main img{
    width: 3rem;
    margin: 1rem;
}

.form-signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.just-validate-error-label{
    font-size: small;
    white-space: normal;
}

.signup-column
{
    display: flex;
    flex-direction: row;
}

.connect-with{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 1rem;
}

/* ----- Signup Success & Activate Account */
.main-success,
.act_account-main
{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
}
.signup-s-img,
.main-success img
{
    height: 20rem;
    width: auto;
    padding: 2rem;
    margin: 2rem;
}


.act_account-img
{
    display: flex;
    justify-content: center;
    background: url("../../assets/images/checked_white_alpha.png");
    height: 200px;
}
.act_account-img img
{
    height: 10rem;
    padding: 2rem;
    margin: 2rem;
}
